.ui-dice-content {
  --base-size: 2rem;
  --base-height: 1.73rem;
  --d: calc(var(--base-size) * .69);
  --random-x1: calc(360deg * random() - 180deg);
  --random-y1: calc(360deg * random() - 180deg);
  --random-z1: calc(360deg * random() - 180deg);
  --random-x2: calc(360deg * random() - 180deg);
  --random-y2: calc(360deg * random() - 180deg);
  --random-z2: calc(360deg * random() - 180deg);
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: calc(var(--base-size) * 18);
  color: #fff;
}
.ui-dice-content .d20 {
  position: relative;
  width: var(--base-size);
  height: calc(var(--base-size) * 0.845);
  transform-style: preserve-3d;
}
.ui-dice-content .d20, .ui-dice-content .d20 > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ui-dice-content .d20 > * {
  width: var(--base-size);
  height: var(--base-height);
  position: absolute;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform-origin: top;
  background-color: #000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 5%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%), linear-gradient(300deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), linear-gradient(60deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, #0066cc 0, #0066cc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--base-size) * 0.4);
  color: #fff;
  line-height: 1;
  padding-bottom: calc(var(--base-size) * 0.3);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .d20 {
    animation: rotate 100s infinite linear;
  }
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
  to {
    transform: rotateX(var(--random-x1)) rotateY(var(--random-y1)) rotateZ(var(--random-z1));
  }
}
.d20 .one {
  transform: rotateY(0.7turn) translateZ(calc(var(--d) * -1)) rotateX(127deg);
}

.d20 .twenty {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.7turn) translateZ(var(--d)) rotateX(307deg);
}

.d20 .two {
  transform: rotateY(0.6turn) translateZ(var(--d)) rotateX(11deg);
}

.d20 .nineteen {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.6turn) translateZ(calc(var(--d) * -1)) rotateX(191deg);
}

.d20 .three {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(1turn) translateZ(calc(var(--d) * -1)) rotateX(191deg);
}

.d20 .eighteen {
  transform: rotateY(1turn) translateZ(var(--d)) rotateX(11deg);
}

.d20 .four {
  transform: rotateY(0.3turn) translateZ(calc(var(--d) * -1)) rotateX(127deg);
}

.d20 .seventeen {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.3turn) translateZ(var(--d)) rotateX(307deg);
}

.d20 .five {
  transform: rotateY(0.8turn) translateZ(var(--d)) rotateX(11deg);
}

.d20 .sixteen {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.8turn) translateZ(calc(var(--d) * -1)) rotateX(191deg);
}

.d20 .six {
  transform: rotateY(0.9turn) translateZ(calc(var(--d) * -1)) rotateX(127deg);
}

.d20 .fifteen {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.9turn) translateZ(var(--d)) rotateX(307deg);
}

.d20 .seven {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.2turn) translateZ(calc(var(--d) * -1)) rotateX(191deg);
}

.d20 .fourteen {
  transform: rotateY(0.2turn) translateZ(var(--d)) rotateX(11deg);
}

.d20 .eight {
  transform: rotateY(0.1turn) translateZ(calc(var(--d) * -1)) rotateX(127deg);
}

.d20 .thirteen {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.1turn) translateZ(var(--d)) rotateX(307deg);
}

.d20 .nine {
  transform: rotateY(0.4turn) translateZ(var(--d)) rotateX(11deg);
}

.d20 .twelve {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.4turn) translateZ(calc(var(--d) * -1)) rotateX(191deg);
}

.d20 .ten {
  transform: rotateY(0.5turn) translateZ(calc(var(--d) * -1)) rotateX(127deg);
}

.d20 .eleven {
  bottom: calc(var(--base-height) * -1);
  transform: rotateY(0.5turn) translateZ(var(--d)) rotateX(307deg);
}

/*# sourceMappingURL=dice.ui.component.css.map */
