// style.scss
:root{
  --color-test: #ff0505;
  --background-style: linear-gradient(0deg, #00274D 0%, #0D233E 5%, #030508 20%);
  --background-style-light: linear-gradient(0deg, #0052a2 0%, #235fa8 5%, #1d3150 20%);
  --dl-commun-color: linear-gradient(45deg,
    #4d4b4b 50%,
    #1D1B1B 100%);
  --dl-peu-commun-color: linear-gradient(45deg,
    #1D1B1B 10%,
    #878383 50%,
    #FFFFFF 100%);
  --dl-rare-color: linear-gradient(45deg,
    #FFFFFF 10%,
    #CD7F32 50%,
    #FFD700 100%
  );
  --dl-super-rare-color: linear-gradient(45deg,
    #C0C0C0 35%,
    #CD7F32 55%,
    #FFD700 60%,
    #00FF00 70%,
    #007FFF 85%,
    #7F00FF 100%
  );
  --dl-legendary-color: linear-gradient(45deg,
    #FF0000 10%,
    #FF7F00 20%,
    #FFFF00 30%,
    #00FF00 40%,
    #00FF7F 50%,
    #00FFFF 60%,
    #007FFF 70%,
    #0000FF 80%,
    #7F00FF 90%,
    #FF00FF 100%);
}
@font-face {
  font-family: irish-grover;
  src: url(./assets/fonts/Irish_Grover/IrishGrover-Regular.ttf);
}
html, body {
  height: 100vh;
  width: 100%;
  background: var(--background-style);
  background-attachment: fixed;
  margin: 0;
  padding: 0;

}

.content-web-app {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: irish-grover, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
