image-content-card{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

.form-group {
  margin-bottom: 15px;

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-check {
    padding-top: 10px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}

#passwordField {
  display: none;
}


